spring:
  datasource:
    url: jdbc:mysql://localhost:3306/matcha
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: lilya1993
  jpa:
    hibernate:
      ddl-auto: create
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.orm.jdbc.bind: trace
    org.hibernate.tool.hbm2ddl: debug
